@use "../../styles/partials/variables";

.section {
  position: relative;
  top: 8rem;
  text-align: center;

  &__title {
    margin-top: 0;
    font-family: variables.$font-secondary;
    font-size: calc(1rem + 3vw);
  }

  &__sub-title {
    font-family: variables.$font-info;
    font-size: calc(1rem + 1vw);
  }
}
