@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

// colour palette

$colour-cream: #f2f1f0;
$colour-pewter: #c0c9cc;
$colour-sageGreen: #a39d92;
$colour-gunmetalGrey: #636059;

// fonts

$font-brand: "Courgette", cursive;
$font-secondary: "Dela Gothic One", cursive;
