@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// colour palette

$colour-cream: #f2f1f0;
$colour-pewter: #c0c9cc;
$colour-sageGreen: #a39d92;
$colour-gunmetalGrey: #636059;

// colour button

$colour-btn: rgb(42, 88, 255);
$colour-btn-hover: rgb(33, 72, 213);

// fonts

$font-brand: "Courgette", cursive;
$font-secondary: "Dela Gothic One", cursive;
$font-info: 'Ubuntu', sans-serif;
