.candle-list {
  overflow-x: hidden;

  &__error {
    text-align: center;
    font-size: 1.5rem;
  }

  &__carousel {
    .containerClassName {
      position: relative;
      top: 30px;
    }
    //not working
  }
}
