.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10101093;
    overflow: scroll;
  }
  
  .box {
    width: 50%;
    height: auto;
    max-height: 30rem;
    border-radius: 15px;

    @media (max-width: 900px) {
      width: 80%;
    }
  }
  
  .content {
    width: 100%;
    height: auto;
  }