@use "../../styles/partials/variables";

.card {
  margin: 1rem;
  height: 35rem;

  &__img {
    width: 30vw;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.005);
      box-shadow: 2px 2px 10px variables.$colour-gunmetalGrey;
    }
  }

  &__title {
    position: relative;
    top: -3.6rem;
    font-size: 1.4rem;
    text-align: center;
    color: variables.$colour-cream;
    text-shadow: 2px 2px 2px variables.$colour-gunmetalGrey;
  }
}
