@use "../../styles/partials/variables";

.navbar {
  &__brand {
    margin: 1rem;
    font-size: 2rem;
    color: variables.$colour-pewter;
    text-shadow: 2px 2px 2px variables.$colour-gunmetalGrey;
    position: fixed;
    left: 50%;
    transform: translateX(-65%);
    z-index: 20;

    &:hover {
      cursor: pointer;
      color: variables.$colour-gunmetalGrey;
      text-shadow: 2px 2px 2px variables.$colour-pewter;
    }
  }

  &__cart {
    margin: 1rem;
    position: fixed;
    right: 1rem;
    width: 2rem;
    transition: transform 0.2s ease-in-out;
    z-index: 20;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &__add-to-cart {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(181, 40, 40);
    position: fixed;
    right: 1.5rem;
    top: 1rem;
    z-index: 20;
  }
}
