@use "../../styles/partials/variables";

.section-title {
    margin-left: 1rem;
    margin-bottom: .5rem;
    font-size: 2.4rem;
    font-family: variables.$font-secondary;
    color: variables.$colour-gunmetalGrey;
}