@use "../../styles/partials/variables";

.product-section {
  padding: 4rem 5rem 0 5rem;
  display: flex;
  justify-content: center;
  font-family: variables.$font-info;

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    padding: 5.3rem 2rem 2rem 2rem;
  }

  &__product {
    &--img {
      margin: 0;
      width: 50vw;
      height: 85vh;
      object-fit: cover;

      @media (max-width: 900px) {
        width: 100%;
        height: 60vh;
      }
    }
    &--btn {
      display: flex;
      align-items: center;
      padding: 0.8rem 2rem;
      border-radius: 25px;
      border: 2px solid variables.$colour-gunmetalGrey;
      position: relative;
      left: 1rem;
      bottom: 4rem;

      @media (max-width: 900px) {
        padding: .3rem 1rem;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
      }
      
      &:hover {
        cursor: pointer;
      }

      img {
        margin-right: 0.5rem;
        width: 1.5rem;
      }
    }
  }

  &__details {
    margin-left: 3rem;
    width: 25rem;

    @media (max-width: 900px) {
      margin-left: 0;
      width: 70vw;
    }

    &--title {
      margin-top: 0;
      font-size: 3rem;

      @media (max-width: 900px) {
        font-size: 2rem;
      }
    }
    &--description {
      font-size: 1.3rem;
      margin-top: -1.8rem;

      @media (max-width: 900px) {
        font-size: 1rem;
        margin-top: -1.4rem;
      }
    }
    &--price {
      margin-top: 3rem;
      font-size: 2rem;

      @media (max-width: 900px) {
        margin: 1rem 0;
      }
    }
    &--scents {
      display: flex;
      font-size: 1.3rem;
      font-family: variables.$font-brand;

      @media (max-width: 900px) {
        font-size: 1rem;
      }

      div {
        margin: 1rem 1rem 1rem 0;
        input {
          width: 2rem;
        }
      }
    }
    &--availability {
      font-size: 0.8rem;
    }

    button {
      margin-top: 1rem;
      padding: 1rem;
      width: 100%;
      background-color: variables.$colour-btn;
      border-style: none;
      border-radius: 5px;
      color: variables.$colour-cream;

      &:hover {
        cursor: pointer;
        background-color: variables.$colour-btn-hover;
      }
    }
  }

  &__error-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-family: variables.$font-secondary;
    font-size: 2rem;
  }
}
