@use "../../styles/partials/variables";

.product-section {
  padding-top: 5.3rem;
  display: flex;

  &__img {
    margin: 0 2rem;
    width: 50vw;
    height: 85vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 3px 3px 10px variables.$colour-gunmetalGrey;
  }

  &__details {
    &--description {
      margin-top: -1rem;
    }
    &--price {
      font-size: 1.4rem;
    }
  }
}
